body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: #00F2DE;
  }
  
  .section {
    margin: 20px;
  }
  section{
    padding: 10px 15px;
  }
  
  h1, h2, h3 {
    color: #00F2DE;
    animation: fade-in 1s ease;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .projects-list li {
    margin-bottom: 20px;
    border: 1px solid #00F2DE;
    padding: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px #00F2DE;
  }
  
  .projects-list li:hover {
    transform: scale(1.05);
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Additional Cyberpunk Styling */
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: #00F2DE;
    padding: 160px 40px;
    text-align: center;
    border: 1px solid #00F2DE;
    box-shadow: 0 0 10px #00F2DE;
    animation: glow 2s infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px #00F2DE;
    }
    to {
      box-shadow: 0 0 20px #00F2DE, 0 0 30px #00F2DE, 0 0 40px #00F2DE;
    }
  }
  
  .subtitle {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      background-color: #000;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 10px;
      transition: transform 0.3s ease;
      transform: translateX(-100%);
    }
   
    .menu li {
      margin: 10px 0;
    }
   
    .menu-toggle {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1000;
      width: 40px;
    }  
    .overlay{
      padding:40px;
    }
}

/* Hover effect Navbar */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

